body {
  text-align: center;
  width: 100%;
  background: #f1f1f1;
}

div.container {
  margin: 0;
  padding: 0;
  height: 100%;
}

div.container canvas {
  display: block;
  padding: 0;
  margin: 0 auto;
}

@media(max-width: 800px) {
  div.container {
    margin: 0 50px;
  }

  div.container canvas {
    width: 100%;
    height: auto;
  }
}
